<% @questions.each do |question| %>
  <div class="col-12 card mb-3 text-decoration-none shadow fadeUp" onclick="handleCardClick(event, '<%= question_path(question.id) %>')" style="cursor: pointer;">
    <div class="card-body">
      <div class="d-flex mb-2">
        <%= link_to question.user.name, user_path(question.user), class: "link-dark name-link" %>
          <% if question.area_id.present? %>
            <div class="area-box ms-2">
            <%= question.area.name %> 対象</div>
          <% else %>
            <div class="area-box ms-2">
            全地域対象
            </div>
          <% end %>
        <div class="ms-auto">
          <%= link_to question_path(question.id), onclick: "event.stopPropagation();" do %>
            <i class="fa-solid fa-comment-dots"></i>
          <% end %>
        </div>
      </div>
      <p class="mb-0"><%= question.content %></p>
      <small class="mb-0 d-flex flex-row-reverse"><%= l question.created_at %></small>
    </div>
  </div>
<% end %>

<script>
  function handleCardClick(event, url) {
    // クリックされた要素がリンク以外の場合のみページ遷移
    if (!event.target.closest("a")) {
      window.location.href = url;
    }
  }
</script>