<% breadcrumb :question_show, @question %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <article class="card shadow">
        <div class="card-body p-5">
          <div class="row">
            <div>
              <% if @question.area_id.present? %>
                <p>対象地域:<%= Area.find(@question.area_id).name %></p>
              <% else %>
                <p>対象地域:全地域</p>
              <% end %>
            </div>
            <div>
              <ul class="list-inline mb-5">
                <li class="list-inline-item"><%= link_to @question.user.name, user_path(@question.user), class: "text-decoration-none link-dark name-link" %></li>
              </ul>
            </div>
            <div class="container mb-3">
              <div class="row justify-content-center">
                <div class="col-11">
                  <h5><%= @question.content %></h5>
                </div>
              </div>
            </div>
          </div>
            <div class="d-flex flex-row-reverse border-top border-dark mt-5 pt-3">
              <% if current_user && current_user.own?(@question) %>
                <%= link_to question_path(@question), data: { turbo_method: :delete, turbo_confirm: "削除しますか？", bs_toggle: "tooltip", bs_placement: "top" }, title: "質問を削除" do %>
                  <i class="fa-solid fa-trash-can" style="color: #185a9d;"></i>
                <% end %>
                <%= link_to edit_question_path(@question), id: "button-edit-#{@question.id}", data: { bs_toggle: "tooltip", bs_placement: "top" }, title: "質問を編集" do %>
                  <i class="fa-solid fa-pen-to-square" style="color: #185a9d; margin-right: 15px;"></i>
                <% end %>                  
              <% end %>
            </div>
          <div class="d-flex flex-row-reverse my-3">
            <small><%= l @question.created_at %></small>
          </div>
          <% if flash[:notice] == "質問が投稿されました" %>
            <div class="d-flex flex-column flex-md-row w-100 mt-3">
              <%= link_to '続けて質問する', new_question_path, class:'btn btn-primary homeback-button flex-grow-1 mb-2 mb-md-0' %>
              <%= link_to 'ホームに戻る', root_path, class:'btn btn-primary homeback-button flex-grow-1' %>
            </div>
          <% end %>
          <h4 class="text-center mt-5">回答する</h4>
          <div class="mt-3">
            <%= render 'answers/form', question: @question, answer: @answer %>
          </div>
          <% @answers.each do |answer| %>
            <%= render 'answers/answer', answer: answer  %>
          <% end %>
        </div>
      </article>
    </div>
  </div>
</div>