<!DOCTYPE html>
<html>
  <head>
    <title>jimotter APP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
<body>
  <div class="container d-flex flex-column align-items-center justify-content-center" style="min-height: 10vh;">
    <h1 class="mb-0 mt-5 text-center custom-title">住んでいる地域のあるあるを</h1>
    <h1 class="text-center custom-title">投稿しよう</h1>
    <div class="d-flex justify-content-center">
      <% if user_signed_in? %>
        <%= link_to "投稿", new_post_path, data: { turbo: false }, class: "btn btn-danger btn-lg rounded-pill" %>
      <% else %>
        <%= link_to "ログインして投稿", new_user_session_path, class: "btn btn-danger btn-lg rounded-pill" %>
      <% end %>
    </div>

    <div class="container mt-5 justify-content-center">
      <div class="row">
        <h6>新着投稿</h6>
        <% @posts.each do |post| %>
          <%= link_to post, class: "col-12 card mb-3 text-decoration-none" do %>
            <div class="card-body">
              <h6 class="mb-0 font-weight-bold"><%= post.user.name %></h6>
              <p><%= post.prefecture.name %></p>
              <p><%= post.city.name %></p>
              <p class="mb-0"><%= post.content %></p>
              <small class="mb-0"><%= post.created_at.strftime('%Y-%m-%d %H:%M') %></small>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>