<!DOCTYPE html>
<html>
  <head>
    <title>jimotter APP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
<body>
  <div class="container flex-column align-items-center justify-content-center" style="min-height: 10vh;">
    <h1 class="mb-0 mt-5 text-center custom-title">知ってる地域のあるあるを</h1>
    <h1 class="text-center custom-title">投稿しよう</h1>
    <div class="d-flex justify-content-center">
      <% if user_signed_in? %>
          <%= link_to "投稿", new_post_path, class: "btn btn-danger rounded-pill mt-2 post-button", data: { turbo: false } %>
      <% else %>
        <%= link_to "ログインして投稿", new_user_session_path, class: "btn btn-danger rounded-pill mt-2 post-button" %>
      <% end %>
    </div>

    <div class="d-flex justify-content-center">
      <div class="mt-5">
        <h3>都道府県で検索</h3>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="mt-3">
        <%= render 'posts/searchform', q: @q %>
      </div>
    </div>

    <div class="container mt-5 justify-content-center">
      <div class="row">
        <h6>新着投稿</h6>
        <% @posts.each do |post| %>
          <div class="col-12 card mb-3 text-decoration-none shadow">
            <div class="card-body">
              <div class="d-flex mb-2">
                <%= link_to post.user.name, user_path(post.user), class: "text-decoration-none link-dark name-link" %>
                <div class="area-box ms-2"><%= post.prefecture.name %></div>
                <div class="area-box ms-2"><%= post.city.name %></div>
                <div class="ms-auto"><%= link_to "詳細", post_path(post.id) %></div>
              </div>
              <p class="mb-0"><%= post.content %></p>
              <small class="mb-0 d-flex flex-row-reverse"><%= l post.created_at %></small>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>