<div class="top-background">  
  <div class="container d-flex flex-column justify-content-center" style="min-height: 10vh;">
    <div class="row">
      <div class="jumbotron jumbotron-fluid col-12">
        <div class="col-lg-7 col-md-7">
          <div class="text-center custom-title-top"><span>わたしのじもと、</span></div>
          <div class="text-center custom-title-under mb-3"><span>知名度低すぎ…!?</span></div>
          <div class="text-center mb-4 title-text">
          <h6>都道府県あるあるはよくあるけど、<br/>
          市区町村で特徴はさまざま。<br/>
          あなたの地元のあるあるをみんなに共有しよう！</h6>
          </div>
        
          <div class="d-flex justify-content-center">
            <% if user_signed_in? %>
                <div class="d-flex flex-column align-items-center" id="post-button">
                  <div>
                    <%= link_to "あるあるを投稿", new_post_path, class: "btn text-light rounded-pill post-button mb-3" %>
                  </div>
                  <div>
                    <%= link_to "みんなに質問", new_question_path, class: "btn text-light rounded-pill post-button mb-3" %>
                  </div>
                </div>
            <% else %>
              <%= link_to "ログインしてアピールする", new_user_session_path, class: "btn btn-primary rounded-pill mt-2 mb-3 post-button", id: "login" %>
            <% end %>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="mt-3">
            <h3 class="text-center search-title">地域で検索</h3>
            <h6 class="text-center search-title">都道府県のみでも検索できます</h6>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="mt-3 mb-4">
            <%= render 'posts/searchform', q: @q %>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="post-tab" data-bs-toggle="tab" href="#post" role="tab" aria-controls="post" aria-selected="true">新着投稿</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="question-tab" data-bs-toggle="tab" href="#question" role="tab" aria-controls="question" aria-selected="false">新着質問</a>
          </li>
        </ul>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="post" role="tabpanel" aria-labelledby="post-tab">
            <%= render partial: 'posts/post', collection: @posts, as: :post %>
            <%= link_to posts_path, class: "text-center ms-auto text-decoration-none", data: { turbo: false } do %>
              <h6>もっと見る</h6>
            <% end %>
          </div>
          <div class="tab-pane fade question-tab" id="question" role="tabpanel" aria-labelledby="question-tab">
            <%= render 'questions/question', questions: @questions %>
            <%= link_to questions_path, class: "text-center ms-auto text-decoration-none", data: { turbo: false } do %>
              <h6>もっと見る</h6>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function startTour() {
    const isLoggedIn = document.body.dataset.loggedIn === 'true';

    const steps = [{
      intro: "Jimotterへようこそ！アプリの説明を開始します。"
    }];

    if (isLoggedIn) {
      // ログインしている場合のステップ
      steps.push({
        element: document.querySelector('#post-button'),
        intro: "ここから投稿できます。"
      },{
        element: document.querySelector('#search'),
        intro: "地域を指定して検索が可能です。都道府県のみでも検索できます。"
      },{
        element: document.querySelector('#map'),
        intro: "投稿地域がどこにあるのか地図を見ることができます。また、コメントの投稿もできます。"
      },{
        element: document.querySelector('a[data-bs-toggle="tab"]'), // 最初のタブボタンを指定
        intro: "タブを切り替えて質問一覧を表示できます。",
        position: 'bottom' // ハイライトの位置を指定
      });
    } else {
      // ログインしていない場合のステップ
      steps.push({
        element: document.querySelector('#login'),
        intro: "ログインすると投稿・ブックマークなどができます。"
      },{
        element: document.querySelector('#map'),
        intro: "投稿地域がどこにあるのか地図を見ることができます。また、コメントの投稿もできます。"
      },{
        element: document.querySelector('a[data-bs-toggle="tab"]'), // 最初のタブボタンを指定
        intro: "タブを切り替えて質問一覧を表示できます。",
        position: 'bottom' // ハイライトの位置を指定
      });
    }

    introJs.tour().setOptions({
      steps: steps,
      doneLabel: '完了',
      nextLabel: '次へ',
      prevLabel: '前へ',
      exitOnEsc: true,
      exitOnOverlayClick: false,
      showProgress: true,
      showBullets: true
    }).start();
  }

  document.addEventListener('turbo:load', function() {
    const startTourButtonSm = document.getElementById('start-tour-sm');
    if (startTourButtonSm) {
      startTourButtonSm.addEventListener('click', function() {
        startTour();
      });
    }

    const startTourButtonLg = document.getElementById('start-tour-lg');
    if (startTourButtonLg) {
      startTourButtonLg.addEventListener('click', function() {
        startTour();
      });
    }
  });
</script>