<div id="comment-<%= comment.id %>">
  <div class="border comment-border mb-2">
    <p class="mt-2 mb-1 px-3"><%= comment.user.name %></p>
    <p class="mb-1 px-3"><%= comment.comment_content %></p>
    <div class="d-flex">
      <% if current_user && current_user.own?(comment) %>
        <%= link_to post_comment_path(comment.post, comment), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" }, class: "ms-auto px-3" do %>
          <i class="bi bi-trash-fill"></i>
        <% end %>
      <% end %>
    </div>
    <div class="d-flex">
      <small class="mb-2 px-3 ms-auto"><%= l comment.created_at %></small>
    </div>
  </div>
</div>