<div class="container pt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="col-12 card shadow">
        <div class="card-body">
          <div class="mypage-container mt-3">
            <h6>ユーザー名：<%= @user.name %></h6>
          </div>
        </div>
      </div>

      <h6 class="text-center mt-5">投稿一覧</h6>
      <% if @posts.present? %>
        <% @posts.each do |post| %>
          <div class="col-12 card mb-3 text-decoration-none shadow">
            <div class="card-body">
              <div class="d-flex mb-2">
                <%= link_to post.user.name, user_path(post.user), class: "text-decoration-none link-dark name-link" %>
                <div class="area-box ms-2"><%= post.prefecture.name %></div>
                <div class="area-box ms-2"><%= post.city.name %></div>
                <div class="ms-auto"><%= link_to "詳細", post_path(post), data: { turbo: false } %></div>
              </div>
              <p class="mb-0"><%= post.content %></p>
              <div class="d-flex">
                <small class="ms-2 ms-auto"><%= l post.created_at %></small>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="text-center">投稿はありません。</p>
      <% end %>
    </div>
  </div>