<header>
  <div class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark header-color shadow">
      <div class="container">
        <%= link_to "jimotter", root_path, class: 'navbar-brand', data: { turbo: false } %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto main-nav align-items-center">
            <li>
              <%= link_to "このサイトについて", "#", class: 'nav-link text-light' %>
            </li>
            <% if user_signed_in? %>
              <li>
                <%= link_to "マイページ", user_path(current_user.id), class: 'nav-link text-light' %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete}, class: 'nav-link text-light' %>
              </li>
            <% else %>
              <li>
                <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-light' %>
              </li>
              <li>
                <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-light' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>