<div class="col-12 card mb-3 text-decoration-none shadow fadeUp" onclick="handleCardClick(event, '<%= post_path(post.id) %>')" style="cursor: pointer;">
  <div class="card-body">
    <div class="d-flex mb-2">
      <%= link_to post.user.name, user_path(post.user), class: "link-dark name-link", onclick: "event.stopPropagation();" %>
      <div class="area-box ms-2"><%= post.prefecture.name %></div>
      <div class="area-box ms-2"><%= post.city.name %></div>
      <% if current_user %>
        <% if post.user_id != current_user.id %>
          <div class="ms-auto bookmark-star"><%= render 'bookmarks/bookmark_button', { post: post } %></div>
          <div>
            <%= link_to post_path(post.id), id: "map", data: { bs_toggle: "tooltip", bs_placement: "top" }, title: "地図を見る" do %>
              <i class="fa-solid fa-location-dot" style="color: #185a9d;"></i>
            <% end %>
          </div>
        <% else %>
          <div class="ms-auto">
            <%= link_to post_path(post.id), id: "map", data: { bs_toggle: "tooltip", bs_placement: "top" }, title: "地図を見る" do %>
              <i class="fa-solid fa-location-dot" style="color: #185a9d;"></i>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="ms-auto">
          <%= link_to post_path(post.id), id: "map", data: { bs_toggle: "tooltip", bs_placement: "top" }, title: "地図を見る" do %>
            <i class="fa-solid fa-location-dot" style="color: #185a9d;"></i>
          <% end %>
        </div>
      <% end %>
    </div>
    <p class="mb-0"><%= post.content %></p>
    <small class="mb-0 d-flex flex-row-reverse"><%= l post.created_at %></small>
  </div>
</div>

<script>
  function handleCardClick(event, url) {
    // クリックされた要素がリンク以外の場合のみページ遷移
    if (!event.target.closest("a")) {
      window.location.href = url;
    }
  }
</script>