<%= javascript_include_tag "searchform" %>

<div class="loader-wrap">
  <div class="loader">Loading...</div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center">
        <div class="mb-5">
          <%= render 'searchform', q: @q, data: { turbo: false } %>
        </div>
      </div>
      <div>
        <% if @prefecture.present? && @city.present? %>
          <h4>
            <%= @prefecture.name %> <%= @city.name %> の結果 <%= @count %> 件
          </h4>
        <% else %>
          <% if @prefecture.present? %>
            <h4>
              <%= @prefecture.name %> の結果 <%= @count %> 件
            </h4>
          <% end %>
        <% end %>
      </div>
      <%= render partial: 'post', collection: @posts, as: :post %>
      <div class="d-flex justify-content-center">
        <%= paginate @posts, theme: 'bootstrap-5' %>
      </div>
    </div>
  </div>
</div>
