<%= javascript_include_tag "google_map" %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap&v=weekly&libraries=marker" defer></script>
<script src="https://accounts.google.com/gsi/client" async></script>

<div class="loader-wrap">
  <div class="loader">Loading...</div>
</div>
<% breadcrumb :post_show, @post, @prefecture, @city %>

<div class="post-modal js-modal">
  <div class="post-modal-container">
    <div class="post-modal-content">
      <p>投稿しました！</p>
      <button type="button" class="btn btn-outline-secondary mb-2 w-75 mx-auto" id="continue-posting">続けて投稿する</button>
      <button type="button" class="btn btn-outline-secondary mb-2 w-75 mx-auto" id="go-home">ホームに戻る</button>
    </div>
    <div class="post-modal-close js-modal-close">✕</div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <article class="card shadow">
        <div class="card-body p-5">
          <div class="row">
            <div>
              <ul class="list-inline mb-5">
                <li class="list-inline-item"><%= link_to @post.user.name, user_path(@post.user), class: "text-decoration-none link-dark name-link" %></li>
                <li class="list-inline-item area-box"><%= @post.prefecture.name %></li>
                <li class="list-inline-item area-box"><%= @post.city.name %></li>
              </ul>
            </div>
            <div class="container mb-3">
              <div class="row justify-content-center">
                <div class="col-11">
                  <h5><%= @post.content %></h5>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex flex-row-reverse border-top border-dark mt-5 pt-3">
            <% if current_user && current_user.own?(@post) %>
              <%= link_to post_path(@post), data: { turbo_method: :delete, turbo_confirm: "削除しますか？", bs_toggle: "tooltip", bs_placement: "top" }, title: "投稿を削除" do %>
                <i class="fa-solid fa-trash-can" style="color: #185a9d;"></i>
              <% end %>
              <%= link_to edit_post_path(@post), id: "button-edit-#{@post.id}", data: { bs_toggle: "tooltip", bs_placement: "top" }, title: "投稿を編集" do %>
                <i class="fa-solid fa-pen-to-square" style="color: #185a9d; margin-right: 15px;"></i>
              <% end %>              
            <% else %>
              <div class="bookmark-star" style="margin-right: 0px;"><%= render 'bookmarks/bookmark_button', { post: @post } %></div>
            <% end %>
            <%= link_to "https://twitter.com/intent/tweet?text=【#{ ERB::Util.url_encode(@post.prefecture.name) }】【#{ ERB::Util.url_encode(@post.city.name) }】%0a#{ ERB::Util.url_encode(@post.content) }%0a%0a%23Jimotter%0a&url=#{ ERB::Util.url_encode(post_url(@post)) }", target: '_blank', rel: "noopener noreferrer", data: { bs_toggle: "tooltip", bs_placement: "top" }, title: "Xで共有する" do %>
              <i class="fa-brands fa-x-twitter" style="color: #185a9d; margin-right: 15px;"></i>
            <% end %>
          </div>
          <div class="d-flex flex-row-reverse my-3">
            <small><%= l @post.created_at %></small>
          </div>

          <div id="map" style="height: 500px; width: 100%;" class="mb-3" 
              data-latitude="<%= @post.latitude %>" 
              data-longitude="<%= @post.longitude %>">
          </div>

          <div class="mt-4">
            <%= render 'comments/form', comment: @comment, post: @post %>
          </div>
          <div id="comments">
            <%= render @comments %>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

<script>
document.addEventListener("turbo:load", function() {
  const modal = document.querySelector('.js-modal'),
        close = document.querySelector('.js-modal-close');
  const successMessage = "<%= flash[:notice] %>"; // コントローラーで設定したフラッシュメッセージを取得

  if (successMessage) {
    modal.classList.add('is-active');
  }

  function modalClose() {
    modal.classList.remove('is-active');
  }
  close.addEventListener('click', modalClose);

  //「モーダルの外側」をクリックしてモーダルを閉じる
  function modalOut(e) {
    if (e.target == modal) {
      modal.classList.remove('is-active');
    }
  }
  addEventListener('click', modalOut);

  // ボタンのクリックイベント
  document.getElementById("continue-posting").addEventListener("click", function() {
    window.location.href = "/posts/new";
  });

  document.getElementById("go-home").addEventListener("click", function() {
    window.location.href = "/";
  });
});
</script>