<div class="container pt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <article class="card shadow">
        <div class="card-body p-5">
          <div class="row">
            <div>
              <ul class="list-inline mb-5">
                <li class="list-inline-item"><%= link_to @post.user.name, user_path(@post.user), class: "text-decoration-none link-dark name-link" %></li>
                <li class="list-inline-item area-box"><%= @post.prefecture.name %></li>
                <li class="list-inline-item area-box"><%= @post.city.name %></li>
              </ul>
            </div>
            <div class="container mb-3">
              <div class="row justify-content-center">
                <div class="col-11">
                  <h5><%= @post.content %></h5>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-row-reverse border-top border-dark mt-5 pt-3">
            <%= link_to "#" do %>
              <i class="bi bi-trash-fill"></i>
            <% end %>
          </div>
          <div class="d-flex flex-row-reverse my-3">
            <small><%= l @post.created_at %></small>
          </div>

          <div id="map" style="height: 500px; width: 100%;"></div>

          <div class="mt-4">
            <%= render 'comments/form' %>
          </div>

          <%= render 'comments/comments' %>
        </div>
      </article>
    </div>
  </div>
</div>

<script>
  function initMap() {
    var location = {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 6,
      center: location
    });
    var marker = new google.maps.Marker({
      position: location,
      map: map
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEDi5xBD74q_oe-XQhIWtCp53ViQFVsP0&callback=initMap" async defer></script>