<div class="container pt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <article class="card shadow">
        <div class="card-body p-5">
          <div class="row">
            <div>
              <ul class="list-inline mb-5">
                <li class="list-inline-item"><%= link_to @post.user.name, user_path(@post.user), class: "text-decoration-none link-dark name-link" %></li>
                <li class="list-inline-item area-box"><%= @post.prefecture.name %></li>
                <li class="list-inline-item area-box"><%= @post.city.name %></li>
              </ul>
            </div>
            <div class="container mb-3">
              <div class="row justify-content-center">
                <div class="col-11">
                  <h5><%= @post.content %></h5>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex flex-row-reverse border-top border-dark mt-5 pt-3">
            <% if current_user && current_user.own?(@post) %>
              <%= link_to post_path(@post), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } do %>
                <i class="bi bi-trash-fill" style="vertical-align: middle;"></i>
              <% end %>
            <% end %>
            <%= link_to image_tag("logo-black.png", size: "15x15", class:"icon"), "https://twitter.com/intent/tweet?text=【#{ ERB::Util.url_encode(@post.prefecture.name) }】【#{ ERB::Util.url_encode(@post.city.name) }】%0a%0a#{ ERB::Util.url_encode(@post.content) }%0a%0a%23Jimotter%0a&url=#{ ERB::Util.url_encode(post_url(@post)) }", target: '_blank', rel: "noopener noreferrer" %>
          </div>
          <div class="d-flex flex-row-reverse my-3">
            <small><%= l @post.created_at %></small>
          </div>

          <div id="map" style="height: 500px; width: 100%;"></div>

          <script>
            function initMap() {
              var location = {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 6,
                center: location,
                mapId: "DEMO_MAP_ID"
              });
              var marker = new google.maps.marker.AdvancedMarkerElement({
                position: location,
                map: map
              });
            }
          </script>

          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3Jqa_kk73ICNwFbTSD1OprtSeWv2G5ek&callback=initMap&v=weekly&libraries=marker" defer></script>

          <div class="mt-4">
            <%= render 'comments/form', comment: @comment, post: @post %>
          </div>
          <div id="comments">
            <%= render @comments %>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>