<!DOCTYPE html>
<html>
  <head>
    <title>jimotter-地域あるある投稿アプリ-</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@inoserisa">
    <meta name="twitter:title" content="jimotter">
    <meta name="twitter:description" content="地域あるある投稿アプリであなたの地元をアピールしよう">
    <meta name="twitter:image" content="<%= asset_path('sharecard.png') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
  <body class="d-flex flex-column vh-100">
    <%= render 'shared/header' %>
    <main class="mb-auto">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
