<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag('favicon.svg') %>
    <title>jimotter-地域あるある投稿アプリ-</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://unpkg.com/intro.js/introjs.css" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= javascript_include_tag "https://unpkg.com/intro.js/intro.js" %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/271bb5f05a.js" crossorigin="anonymous"></script>
  <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.css" type="text/css" media="all" />
  
  <body class="d-flex flex-column vh-100">
    <%= render 'shared/header' %>

    <!-- モーダルウィンドウ -->
    <div class="modal fade" id="notificationsModal" tabindex="-1" aria-labelledby="notificationsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="notificationsModalLabel">新着通知</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <% if @notifications.present? %>
                    <% @notifications.each do |notification| %>
                      <div class="col-12 card mb-3 text-decoration-none shadow fadeUp">
                        <div class="card-body">
                          <div class="d-flex">
                            <%= render "notifications/#{notification.action_type}", notification: notification %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% else %>
                    通知はありません
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div>
    <!-- モーダルウィンドウ終了 -->
    <main class="mb-auto">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
