<!DOCTYPE html>
<html>
  <head>
    <title>jimotter-地域あるある投稿アプリ-</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body style="background-color: #FFF6ED;">
    <%= render 'shared/header' %>
    <%= render 'layouts/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
